
<div>
  <h1>Editing Book</h1>
  <form>
    <%= form_with model: @book, method: :patch do |f| %>
      <div>
        <%= f.label :Title %><br>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :Opinion %><br>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.submit 'Update Book' %>
      </div>
    <% end %>
  </form>
  <%= link_to "Show", book_path %> | <%= link_to "Back", books_path %>
</div>
