<div>
  <h2>Book detail</h2>
  <table>
    <tbody>
      <tr>
        <tb><%= link_to image_tag(@book.user.get_profile_image(100,100)) %><%= link_to @user.name, user_path(@user) %></tb>
        <tb><%= @book.title %> </tb>
        <tb><%= @book.body %></tb>
        <% if @book.user == current_user %>
          <tb><%= link_to "Edit", edit_book_path %></tb>
          <tb><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></tb>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>